.button.submit {
    background-color: green;
    size: 2em;
    font-size: smaller;
    color: white;
   }
   
   .button.secondary {
    background-color: rgb(73, 178, 219);
    size: 2em;
    font-size: smaller;
   }

   .button.warning {
    background-color: rgb(216, 216, 37);
    size: 2em;
    font-size: smaller;
   }